/* root */
:root{
  --azzurro: #3161E0;
  --lilla: #8EA1E1;
  --lilla-scritta: #8EA1E1;
  --black-ds: #23272A;
}


/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Generics */
body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  color: #fff;
}

.top-header{
  background-color: var(--azzurro);
  min-height: 40px;
}

nav{
  padding: 10px 0;
}

img{
  width: 130px;
  height: 40px;
  justify-content: center;
}

a{
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  padding: 10px;
  margin: 10px;
  font-weight: 600;
}

.bg-image{
  background-image: url(../img/jumbo.png);
  background-color: var(--azzurro);
  min-height: 625px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.jumbotron{
  text-align: center;
  padding: 140px 0;
}

h1{
  font-size: 56px;
  margin-bottom: 30px;
  font-weight: 800;
}

p{
  font-size: 20px;
  line-height: 2;
  margin-bottom: 20px;
}

.button-jumbo, .al-center{
  text-align: center;
}

.b-second{
  background-color: #000;
  color: #fff;
  margin-left: 20px;
}

.item{
  width: 70%;
  height: 380px;
}

.description{
  width: 20%;
}

h2{
  font-size: 40px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
}

.descr-p{
  font-size: 16px;
}

.item-big{
  width: 800px;
  height: 480px;
}

/* Utils */
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .flex-container{
    display: flex;
  }

  .space{
    justify-content: space-between;
  }

  .end{
    justify-content: flex-end;
  }

  .padd-rad-small{
    border-radius: 40px;
    padding: 7px 16px;
    border-color: #fff;
    border: 0 solid transparent;
  }

  .container-jumbo {
    max-width: 800px;
    margin: 0 auto;
  }

  .padd-rad-high{
    font-size: 20px;
    border-radius: 28px;
    padding: 16px 32px;
    border-color: #fff;
    border: 0 solid transparent;
  }

  .bg-white{
    padding: 50px 0;
  }

  .bg-grey{
    padding: 50px 0;
    background-color: #dedede;
  }
